## Import Modules

In [1]:
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scikitplot as skplt

from yellowbrick.model_selection import LearningCurve, ValidationCurve
from scipy.stats import friedmanchisquare, wilcoxon

pd.set_option('display.max_columns', None)

## Adult Dataset

In [2]:
adult_columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
adult = pd.read_csv('adult.data', names = adult_columns, header=None, skipinitialspace=True )

In [3]:
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
adult = adult.replace("?", np.nan)
adult = adult.dropna()

In [5]:
A_categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
adult = pd.get_dummies(adult, columns=A_categorical_columns, drop_first=True)

In [6]:
adult['target'] = (adult['income'] == '>50K').astype(int)

In [7]:
adult.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,education_Doctorate,education_HS-grad,education_Masters,education_Preschool,education_Prof-school,education_Some-college,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Male,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,target
0,39,77516,13,2174,0,40,<=50K,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,0
1,50,83311,13,0,0,13,<=50K,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,0
2,38,215646,9,0,0,40,<=50K,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,0
3,53,234721,7,0,0,40,<=50K,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,0
4,28,338409,13,0,0,40,<=50K,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0

In [8]:
X1 = adult.drop(columns=['target'])
y1 = adult['target']

In [9]:
X_train_A, X_test_A, y_train_A, y_test_A = train_test_split(
    X1, y1, test_size=0.2, random_state=1, stratify=y1)

In [10]:
A_numeric_columns = ['age', 'fnlwgt', 'education-num',
            'capital-gain', 'capital-loss', 'hours-per-week']


def Scalar(trd, ted, cols):
    scaler = StandardScaler()
    trd[cols] = scaler.fit_transform(trd[cols])
    ted[cols] = scaler.transform(ted[cols])
    return trd, ted, scaler

Scalar(X_train_A, X_test_A, A_numeric_columns)

(            age    fnlwgt  education-num  capital-gain  capital-loss  \
 8233  -0.106282 -0.817074      -0.438885      -0.14889     -0.218787
 21701 -0.942161  1.911688       1.129402      -0.14889     -0.218787
 22740 -1.018150  0.477821      -0.438885      -0.14889     -0.218787
 24732  0.653608 -0.283862      -0.438885      -0.14889     -0.218787
 30436  0.957564  0.589294       0.345258      -0.14889     -0.218787
 ...         ...       ...            ...           ...           ...
 1242  -0.182271  0.046992      -0.438885      -0.14889     -0.218787
 10077  1.489487  0.340585      -2.007172      -0.14889     -0.218787
 13572  0.577619  0.029342      -0.438885      -0.14889     -0.218787
 22888 -1.246117  2.271861      -0.438885      -0.14889     -0.218787
 6495  -0.562216  1.583146       1.129402      -0.14889     -0.218787

        hours-per-week income  workclass_Local-gov  workclass_Private  \
 8233        -0.080382  <=50K                False              False
 21701       -0.080382   >50K                False               True
 22740       -0.080382  <=50K                False               True
 24732        3.681810   >50K                False               True
 30436        0.170431  <=50K                False               True
 ...               ...    ...                  ...                ...
 1242        -0.080382  <=50K                False              False
 10077       -0.080382  <=50K                False               True
 13572       -0.080382  <=50K                False               True
 22888       -0.080382  <=50K                False               True
 6495        -0.080382  <=50K                 True              False

        workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
 8233                    False                       False
 21701                   False                       False
 22740                   False                       False
 24732                   False                       False
 30436                   False                       False
 ...                       ...                         ...
 1242                    False                       False
 10077                   False                       False
 13572                   False                       False
 22888                   False                       False
 6495                    False                       False

        workclass_State-gov  workclass_Without-pay  education_11th  \
 8233                  True                  False           False
 21701                False                  False           False
 22740                False                  False           False
 24732                False                  False           False
 30436                False                  False           False
 ...                    ...                    ...             ...
 1242                  True                  False           False
 10077                False                  False           False
 13572                False                  False           False
 22888                False                  False           False
 6495                 False                  False           False

        education_12th  education_1st-4th  education_5th-6th  \
 8233            False              False              False
 21701           False              False              False
 22740           False              False              False
 24732           False              False              False
 30436           False              False              False
 ...               ...                ...                ...
 1242            False              False              False
 10077           False              False              False
 13572           False              False              False
 22888           False              False              False
 6495            False              False              False

        education_7th-8th  education_9th  education_Assoc-acdm  \
 8233               False          False                 False
 21701              False          False                 False
 22740              False          False                 False
 24732              False          False                 False
 30436              False          False                 False
 ...                  ...            ...                   ...
 1242               False          False                 False
 10077              False           True                 False
 13572              False          False                 False
 22888              False          False                 False
 6495               False          False                 False

        education_Assoc-voc  education_Bachelors  education_Doctorate  \
 8233                 False                False                False
 21701                False                 True                False
 22740                False                False                False
 24732                False                False                False
 30436                 True                False                False
 ...                    ...                  ...                  ...
 1242                 False                False                False
 10077                False                False                False
 13572                False                False                False
 22888                False                False                False
 6495                 False                 True                False

        education_HS-grad  education_Masters  education_Preschool  \
 8233                True              False                False
 21701              False              False                False
 22740               True              False                False
 24732               True              False                False
 30436              False              False                False
 ...                  ...                ...                  ...
 1242                True              False                False
 10077              False              False                False
 13572               True              False                False
 22888               True              False                False
 6495               False              False                False

        education_Prof-school  education_Some-college  \
 8233                   False                   False
 21701                  False                   False
 22740                  False                   False
 24732                  False                   False
 30436                  False                   False
 ...                      ...                     ...
 1242                   False                   False
 10077                  False                   False
 13572                  False                   False
 22888                  False                   False
 6495                   False                   False

        marital-status_Married-AF-spouse  marital-status_Married-civ-spouse  \
 8233                              False                              False
 21701                             False                               True
 22740                             False                              False
 24732                             False                               True
 30436                             False                              False
 ...                                 ...                                ...
 1242                              False                              False
 10077                             False                              False
 13572                             False                               True
 22888                             False                              False
 6495                              False                               True

        marital-status_Married-spouse-absent  marital-status_Never-married  \
 8233                                  False                          True
 21701                                 False                         False
 22740                                 False                          True
 24732                                 False                         False
 30436                                 False                          True
 ...                                     ...                           ...
 1242                                  False                         False
 10077                                 False                         False
 13572                                 False                         False
 22888                                 False                          True
 6495                                  False                         False

        marital-status_Separated  marital-status_Widowed  \
 8233                      False                   False
 21701                     False                   False
 22740                     False                   False
 24732                     False                   False
 30436                     False                   False
 ...                         ...                     ...
 1242                      False                    True
 10077                     False                   False
 13572                     False                   False
 22888                     False                   False
 6495                      False                   False

        occupation_Armed-Forces  occupation_Craft-repair  \
 8233                     False                    False
 21701                    False                    False
 22740                    False                    False
 24732                    False                    False
 30436                    False                    False
 ...                        ...                      ...
 1242                     False                    False
 10077                    False                    False
 13572                    False                    False
 22888                    False                    False
 6495                     False                    False

        occupation_Exec-managerial  occupation_Farming-fishing  \
 8233                        False                       False
 21701                       False                       False
 22740                       False                       False
 24732                       False                       False
 30436                        True                       False
 ...                           ...                         ...
 1242                         True                       False
 10077                       False                        True
 13572                       False                       False
 22888                       False                       False
 6495                        False                       False

        occupation_Handlers-cleaners  occupation_Machine-op-inspct  \
 8233                          False                         False
 21701                         False                         False
 22740                         False                         False
 24732                         False                         False
 30436                         False                         False
 ...                             ...                           ...
 1242                          False                         False
 10077                         False                         False
 13572                         False                         False
 22888                         False                         False
 6495                          False                         False

        occupation_Other-service  occupation_Priv-house-serv  \
 8233                       True                       False
 21701                     False                       False
 22740                     False                       False
 24732                     False                       False
 30436                     False                       False
 ...                         ...                         ...
 1242                      False                       False
 10077                     False                       False
 13572                     False                       False
 22888                     False                       False
 6495                      False                       False

        occupation_Prof-specialty  occupation_Protective-serv  \
 8233                       False                       False
 21701                      False                       False
 22740                      False                       False
 24732                      False                       False
 30436                      False                       False
 ...                          ...                         ...
 1242                       False                       False
 10077                      False                       False
 13572                      False                       False
 22888                      False                       False
 6495                        True                       False

        occupation_Sales  occupation_Tech-support  occupation_Transport-moving  \
 8233              False                    False                        False
 21701             False                    False                        False
 22740              True                    False                        False
 24732             False                    False                         True
 30436             False                    False                        False
 ...                 ...                      ...                          ...
 1242              False                    False                        False
 10077             False                    False                        False
 13572             False                    False                        False
 22888             False                    False                        False
 6495              False                    False                        False

        relationship_Not-in-family  relationship_Other-relative  \
 8233                        False                        False
 21701                       False                        False
 22740                       False                        False
 24732                       False                        False
 30436                        True                        False
 ...                           ...                          ...
 1242                         True                        False
 10077                        True                        False
 13572                       False                        False
 22888                       False                         True
 6495                        False                        False

        relationship_Own-child  relationship_Unmarried  relationship_Wife  \
 8233                     True                   False              False
 21701                   False                   False               True
 22740                    True                   False              False
 24732                   False                   False              False
 30436                   False                   False              False
 ...                       ...                     ...                ...
 1242                    False                   False              False
 10077                   False                   False              False
 13572                   False                   False               True
 22888                   False                   False              False
 6495                    False                   False              False

        race_Asian-Pac-Islander  race_Black  race_Other  race_White  sex_Male  \
 8233                     False       False       False        True     False
 21701                    False       False       False        True     False
 22740                    False        True       False       False      True
 24732                    False       False       False        True      True
 30436                    False       False       False        True     False
 ...                        ...         ...         ...         ...       ...
 1242                     False       False       False        True     False
 10077                    False        True       False       False      True
 13572                    False       False       False        True     False
 22888                    False        True       False       False      True
 6495                     False       False       False        True      True

        native-country_Canada  native-country_China  native-country_Columbia  \
 8233                   False                 False                    False
 21701                  False                 False                    False
 22740                  False                 False                    False
 24732                  False                 False                    False
 30436                  False                 False                    False
 ...                      ...                   ...                      ...
 1242                   False                 False                    False
 10077                  False                 False                    False
 13572                  False                 False                    False
 22888                  False                 False                    False
 6495                   False                 False                    False

        native-country_Cuba  native-country_Dominican-Republic  \
 8233                 False                              False
 21701                False                              False
 22740                False                              False
 24732                False                              False
 30436                False                              False
 ...                    ...                                ...
 1242                 False                              False
 10077                False                              False
 13572                False                              False
 22888                False                              False
 6495                 False                              False

        native-country_Ecuador  native-country_El-Salvador  \
 8233                    False                       False
 21701                   False                       False
 22740                   False                       False
 24732                   False                       False
 30436                   False                       False
 ...                       ...                         ...
 1242                    False                       False
 10077                   False                       False
 13572                   False                       False
 22888                   False                       False
 6495                    False                       False

        native-country_England  native-country_France  native-country_Germany  \
 8233                    False                  False                   False
 21701                   False                  False                   False
 22740                   False                  False                   False
 24732                   False                  False                   False
 30436                   False                  False                   False
 ...                       ...                    ...                     ...
 1242                    False                  False                   False
 10077                   False                  False                   False
 13572                   False                  False                   False

## Cover Type Dataset

In [11]:
cover_type_columns = [
    'Elevation',
    'Aspect',
    'Slope',
    'Horizontal_Distance_To_Hydrology',
    'Vertical_Distance_To_Hydrology',
    'Horizontal_Distance_To_Roadways',
    'Hillshade_9am',
    'Hillshade_Noon',
    'Hillshade_3pm',
    'Horizontal_Distance_To_Fire_Points',
    'Wilderness_Area1',
    'Wilderness_Area2',
    'Wilderness_Area3',
    'Wilderness_Area4',
] + [f'Soil_Type{i}' for i in range(1, 41)] + [
    'Cover_Type'
]

cover_type = pd.read_csv('covtype.data.gz', header=None, names=cover_type_columns)

In [12]:
cover_type.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,Soil_Type11,Soil_Type12,Soil_Type13,Soil_Type14,Soil_Type15,Soil_Type16,Soil_Type17,Soil_Type18,Soil_Type19,Soil_Type20,Soil_Type21,Soil_Type22,Soil_Type23,Soil_Type24,Soil_Type25,Soil_Type26,Soil_Type27,Soil_Type28,Soil_Type29,Soil_Type30,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5

In [13]:
cover_type['target'] = (cover_type['Cover_Type'] == 2).astype(int)
cover_type = cover_type.drop(columns='Cover_Type')
cover_type.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,Soil_Type11,Soil_Type12,Soil_Type13,Soil_Type14,Soil_Type15,Soil_Type16,Soil_Type17,Soil_Type18,Soil_Type19,Soil_Type20,Soil_Type21,Soil_Type22,Soil_Type23,Soil_Type24,Soil_Type25,Soil_Type26,Soil_Type27,Soil_Type28,Soil_Type29,Soil_Type30,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,target
0,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
4,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
X2 = cover_type.drop(columns = ['target'])
y2 = cover_type['target']

X_train_cv, X_test_cv, y_train_cv, y_test_cv = train_test_split(X2, y2, test_size=0.2, random_state=2, stratify=y2)

In [15]:
cv_numeric_columns = ['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points']
Scalar(X_train_cv, X_test_cv, cv_numeric_columns)

(        Elevation    Aspect     Slope  Horizontal_Distance_To_Hydrology  \
 267100  -0.303308  0.397053  1.320531                         -0.984850
 330184  -0.585225  1.665899 -0.548017                         -1.069561
 132748  -0.260485  1.487189 -0.014146                         -0.867195
 509963   0.760126 -0.156950  0.252789                         -1.069561
 72765   -1.241842 -0.675211  0.119322                         -0.984850
 ...           ...       ...       ...                               ...
 98514   -1.163333 -0.335661  0.519725                         -1.126035
 82406   -0.192682 -0.058659 -1.749227                          0.502304
 288117  -1.869910  0.155794  1.053596                          0.436418
 45642   -0.049939 -0.621598 -0.548017                         -0.241273
 524136  -0.292602 -0.818180  1.587467                         -0.843664

         Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  \
 267100                       -0.366860                        -1.155807
 330184                       -0.710242                        -0.891042
 132748                       -0.504213                         0.454578
 509963                       -0.693073                        -1.044260
 72765                        -0.761749                        -0.737184
 ...                                ...                              ...
 98514                        -0.658734                        -0.533962
 82406                         0.251227                         0.958465
 288117                        2.036811                        -0.811549
 45642                         0.543101                         2.344473
 524136                       -0.006310                         0.130834

         Hillshade_9am  Hillshade_Noon  Hillshade_3pm  \
 267100      -0.341072        1.501644       0.769983
 330184      -0.527654        0.035321       0.587186
 132748      -1.087398        0.085884       1.005007
 509963       1.151580        0.490387      -0.770733
 72765        1.002315       -0.571434      -1.110212
 ...               ...             ...            ...
 98514        1.338162       -0.116368      -1.293009
 82406        0.330622        0.743201       0.299934
 288117       0.554519        1.046578      -0.144001
 45642        0.853050       -0.015242      -0.614050
 524136       0.778417       -2.290571      -2.128651

         Horizontal_Distance_To_Fire_Points  Wilderness_Area1  \
 267100                           -0.296187                 0
 330184                            0.637200                 0
 132748                            0.145229                 1
 509963                            0.182202                 0
 72765                            -1.114882                 1
 ...                                    ...               ...
 98514                             0.422906                 1
 82406                             1.040889                 1
 288117                           -1.106582                 0
 45642                             1.763755                 1
 524136                            0.054682                 0

         Wilderness_Area2  Wilderness_Area3  Wilderness_Area4  Soil_Type1  \
 267100                 0                 1                 0           0
 330184                 0                 1                 0           0
 132748                 0                 0                 0           0
 509963                 1                 0                 0           0
 72765                  0                 0                 0           0
 ...                  ...               ...               ...         ...
 98514                  0                 0                 0           0
 82406                  0                 0                 0           0
 288117                 0                 0                 1           0
 45642                  0                 0                 0           0
 524136                 0                 1                 0           0

         Soil_Type2  Soil_Type3  Soil_Type4  Soil_Type5  Soil_Type6  \
 267100           0           0           0           0           0
 330184           0           0           0           0           0
 132748           0           0           0           0           0
 509963           0           0           0           0           0
 72765            0           0           0           0           0
 ...            ...         ...         ...         ...         ...
 98514            0           0           0           0           0
 82406            0           0           0           0           0
 288117           1           0           0           0           0
 45642            0           0           0           0           0
 524136           0           0           0           0           0

         Soil_Type7  Soil_Type8  Soil_Type9  Soil_Type10  Soil_Type11  \
 267100           0           0           0            0            0
 330184           0           0           0            0            0
 132748           0           0           0            0            0
 509963           0           0           0            0            0
 72765            0           0           0            0            0
 ...            ...         ...         ...          ...          ...
 98514            0           0           0            0            0
 82406            0           0           0            0            0
 288117           0           0           0            0            0
 45642            0           0           0            0            0
 524136           0           0           0            0            0

         Soil_Type12  Soil_Type13  Soil_Type14  Soil_Type15  Soil_Type16  \
 267100            0            1            0            0            0
 330184            0            0            0            0            0
 132748            0            0            0            0            0
 509963            0            1            0            0            0
 72765             0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 98514             0            0            0            0            0
 82406             1            0            0            0            0
 288117            0            0            0            0            0
 45642             0            0            0            0            0
 524136            0            0            0            0            0

         Soil_Type17  Soil_Type18  Soil_Type19  Soil_Type20  Soil_Type21  \
 267100            0            0            0            0            0
 330184            0            0            0            0            0
 132748            0            0            0            0            0
 509963            0            0            0            0            0
 72765             0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 98514             0            0            0            0            0
 82406             0            0            0            0            0
 288117            0            0            0            0            0
 45642             0            0            0            0            0
 524136            0            0            0            0            0

         Soil_Type22  Soil_Type23  Soil_Type24  Soil_Type25  Soil_Type26  \
 267100            0            0            0            0            0
 330184            0            0            0            0            0
 132748            0            0            0            0            0
 509963            0            0            0            0            0
 72765             0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 98514             0            0            0            0            0
 82406             0            0            0            0            0
 288117            0            0            0            0            0
 45642             0            0            0            0            0
 524136            0            0            0            0            0

         Soil_Type27  Soil_Type28  Soil_Type29  Soil_Type30  Soil_Type31  \
 267100            0            0            0            0            0
 330184            0            0            0            0            1
 132748            0            0            1            0            0
 509963            0            0            0            0            0
 72765             0            0            0            1            0
 ...             ...          ...          ...          ...          ...
 98514             0            0            0            1            0
 82406             0            0            0            0            0
 288117            0            0            0            0            0
 45642             0            0            1            0            0
 524136            0            0            0            0            0

         Soil_Type32  Soil_Type33  Soil_Type34  Soil_Type35  Soil_Type36  \
 267100            0            0            0            0            0
 330184            0            0            0            0            0
 132748            0            0            0            0            0
 509963            0            0            0            0            0
 72765             0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 98514             0            0            0            0            0
 82406             0            0            0            0            0
 288117            0            0            0            0            0
 45642             0            0            0            0            0
 524136            0            1            0            0            0

         Soil_Type37  Soil_Type38  Soil_Type39  Soil_Type40
 267100            0            0            0            0
 330184            0            0            0            0
 132748            0            0            0            0
 509963            0            0            0            0
 72765             0            0            0            0
 ...             ...          ...          ...          ...
 98514             0            0            0            0
 82406             0            0            0            0
 288117            0            0            0            0
 45642             0            0            0            0
 524136            0            0            0            0

 [464809 rows x 54 columns],
         Elevation    Aspect     Slope  Horizontal_Distance_To_Hydrology  \
 247839  -0.595931 -0.165886  0.653192                         -0.278922
 470983   0.256958  1.040412 -0.681485                          0.130516
 105171  -0.852868 -0.952213 -1.215356                          0.328175
 306931   0.142764  1.022541 -1.348824                          0.144634
 444070   0.738715  1.406769 -0.814953                          0.883505
 ...           ...       ...       ...                               ...
 211213   0.927849  0.432795 -0.681485                         -0.951906
 343964  -0.381816  0.128987  0.920128                          0.770557
 384996  -0.392522 -1.291763  0.119322                          0.930567
 248828  -3.425807 -1.381119  2.655209                         -0.758953
 81470    0.396132  0.254084 -0.548017                          0.568191

         Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  \
 247839                       -1.311159                        -1.038490
 470983                        0.560270                        -1.152602
 105171                       -0.212338                        -0.697437
 306931                       -0.435536                         0.378290
 444070                        1.418724                        -0.192909
 ...                                ...                              ...
 211213                       -0.521382                         1.682882
 343964                        0.302734                        -0.506396
 384996                        0.131043                         0.588563
 248828                        0.405748                        -1.410315
 81470                         0.337072                         2.181640

         Hillshade_9am  Hillshade_Noon  Hillshade_3pm  \
 247839       1.226213        0.288135      -0.979643
 470983      -0.564970        0.996015       1.109462
 105171       0.367938        0.288135      -0.013432
 306931      -0.079858        0.894890       0.717755
 444070      -0.490337        0.540950       0.848324
 ...               ...             ...            ...
 211213       0.106724        1.248830       0.665527
 343964       0.666468        1.046578      -0.196229
 384996      -0.341072       -0.723122      -0.039546
 248828      -2.206887       -3.301829      -0.431253
 81470        0.367938        1.198267       0.378275

         Horizontal_Distance_To_Fire_Points  Wilderness_Area1  \
 247839                           -1.199392                 1
 470983                           -0.971516                 0
 105171                            0.128629                 1
 306931                           -0.982080                 0
 444070                           -0.783631                 0
 ...                                    ...               ...
 211213                           -1.206184                 1
 343964                           -0.307506                 0
 384996                           -0.502181                 0
 248828                           -1.041690                 0
 81470                             1.714708                 1

         Wilderness_Area2  Wilderness_Area3  Wilderness_Area4  Soil_Type1  \
 247839                 0                 0                 0           0
 470983                 1                 0                 0           0
 105171                 0                 0                 0           0
 306931                 0                 1                 0           0
 444070                 0                 1                 0           0
 ...                  ...               ...               ...         ...
 211213                 0                 0                 0           0
 343964                 0                 1                 0           0
 384996                 0                 1                 0           0
 248828                 0                 0                 1           0
 81470                  0                 0                 0           0

         Soil_Type2  Soil_Type3  Soil_Type4  Soil_Type5  Soil_Type6  \
 247839           0           0           0           0           0
 470983           0           0           0           0           0
 105171           0           0           0           0           0
 306931           0           0           0           0           0
 444070           0           0           0           0           0
 ...            ...         ...         ...         ...         ...
 211213           0           0           0           0           0
 343964           0           0           1           0           0
 384996           0           0           0           0           0
 248828           0           0           0           0           0
 81470            0           0           0           0           0

         Soil_Type7  Soil_Type8  Soil_Type9  Soil_Type10  Soil_Type11  \
 247839           0           0           0            0            0
 470983           0           0           0            0            0
 105171           0           0           0            0            0
 306931           0           0           0            0            0
 444070           0           0           0            0            0
 ...            ...         ...         ...          ...          ...
 211213           0           0           0            0            0
 343964           0           0           0            0            0
 384996           0           0           0            0            0
 248828           0           0           0            1            0
 81470            0           0           0            0            0

         Soil_Type12  Soil_Type13  Soil_Type14  Soil_Type15  Soil_Type16  \
 247839            0            0            0            0            0
 470983            0            0            0            0            0
 105171            1            0            0            0            0
 306931            0            0            0            0            0
 444070            0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 211213            0            0            0            0            0
 343964            0            0            0            0            0
 384996            0            0            0            0            0
 248828            0            0            0            0            0
 81470             0            0            0            0            0

         Soil_Type17  Soil_Type18  Soil_Type19  Soil_Type20  Soil_Type21  \
 247839            0            0            0            0            0
 470983            0            0            0            0            0
 105171            0            0            0            0            0
 306931            0            0            0            0            0
 444070            0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 211213            0            0            0            0            0
 343964            0            0            0            0            0
 384996            0            0            0            0            0
 248828            0            0            0            0            0
 81470             0            0            0            0            0

         Soil_Type22  Soil_Type23  Soil_Type24  Soil_Type25  Soil_Type26  \
 247839            0            0            0            0            0
 470983            1            0            0            0            0
 105171            0            0            0            0            0
 306931            0            0            0            0            0
 444070            0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 211213            1            0            0            0            0
 343964            0            0            0            0            0
 384996            0            0            0            0            0
 248828            0            0            0            0            0
 81470             0            0            0            0            0

         Soil_Type27  Soil_Type28  Soil_Type29  Soil_Type30  Soil_Type31  \
 247839            0            0            0            1            0
 470983            0            0            0            0            0
 105171            0            0            0            0            0
 306931            0            0            0            0            0
 444070            0            0            0            0            0
 ...             ...          ...          ...          ...          ...
 211213            0            0            0            0            0
 343964            0            0            0            0            0
 384996            0            0            0            0            0

## Letter Dataset

In [16]:
letter_columns = ['lettr', 'x-box', 'y-box', 'width','high', 'onpix', 'x-bar', 'y-bar', 'x2bar', 'y2bar', 'xybar', 'x2ybr', 'xy2br', 'x-ege', 'xegvy', 'y-ege', 'yegvx']
letter = pd.read_csv('letter-recognition.data', header=None, names=letter_columns)

In [17]:
letter.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [18]:
letter['target'] = (letter['lettr'] >= 'N').astype(int)
letter = letter.drop(columns=['lettr'])

In [19]:
letter.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,target
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,1
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,0
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,0
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,1
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,0

In [20]:
X3 = letter.drop(columns = ['target'])
y3 = letter['target']

X_train_ltr, X_test_ltr, y_train_ltr, y_test_ltr = train_test_split(X3, y3, test_size=0.2, random_state=3, stratify=y3)

In [21]:
ltr_numeric_columns = X_train_ltr.columns
Scalar(X_train_ltr, X_test_ltr, ltr_numeric_columns)

(          x-box     y-box     width      high     onpix     x-bar     y-bar  \
 16444  0.508716  1.203263  1.427481  1.166594  2.507814 -0.447176 -0.211143
 2231  -0.536076  0.294297 -0.062550 -0.162511 -0.687035  0.047078 -1.070649
 18297 -0.013680 -1.523636 -0.062550 -0.605546  0.225779  0.047078  0.218610
 4297  -0.536076 -0.311681 -0.559227 -0.605546 -0.230628  0.047078 -0.211143
 16103 -0.536076  0.294297 -0.559227  0.280524 -0.687035 -0.447176 -0.211143
 ...         ...       ...       ...       ...       ...       ...       ...
 16144 -1.058472 -0.917658 -0.559227 -1.048581 -0.687035  1.035585 -0.211143
 3924  -1.058472 -0.917658 -1.055904 -0.162511 -0.230628  0.541331 -0.211143
 1708   0.508716  1.203263 -0.062550  1.166594 -0.230628  0.047078  0.648363
 4594   1.031112 -0.008692  1.427481 -0.162511  0.225779  2.024092 -0.211143
 15727 -0.536076  0.597285 -0.559227  0.723559 -1.143442  2.024092 -2.359908

           x2bar     y2bar     xybar     x2ybr     xy2br     x-ege     xegvy  \
 16444 -0.605236 -0.501410 -0.112725  0.587736  0.510350  1.698026  1.074981
 2231  -0.605236 -1.766333 -0.512991 -2.078922  0.029936 -0.449505 -0.860324
 18297  0.502241  0.341872 -0.512991 -0.174166  0.029936 -0.019999 -0.215222
 4297   2.717196 -1.766333 -0.512991 -0.174166  0.029936  0.839014  0.429880
 16103  1.978878  1.185154 -0.913258 -0.174166 -0.930892 -0.019999 -0.215222
 ...         ...       ...       ...       ...       ...       ...       ...
 16144 -0.605236 -0.079769  0.687808 -0.936069 -0.930892 -0.449505 -0.860324
 3924   0.502241 -1.344692 -0.112725  0.206785  0.510350 -0.449505 -0.215222
 1708   3.824674 -1.344692 -0.512991 -1.317020  0.029936 -0.019999 -0.215222
 4594  -0.605236  0.341872  0.687808 -2.078922 -1.891719  0.839014  0.429880
 15727  2.348037 -0.923051  1.888606  0.587736  2.912418 -0.879011 -1.505425

           y-ege     yegvx
 16444  1.283785 -1.110936
 2231  -0.657777 -0.495906
 18297 -0.269465  0.119124
 4297  -1.434402  0.119124
 16103  0.118848  0.119124
 ...         ...       ...
 16144 -0.269465  0.734153
 3924   0.118848  0.734153
 1708  -1.434402  0.119124
 4594  -1.046090 -0.495906
 15727 -1.434402  0.119124

 [16000 rows x 16 columns],
           x-box     y-box     width      high     onpix     x-bar     y-bar  \
 2412  -0.013680 -0.008692  0.434127  0.280524  0.682186 -0.941430  0.648363
 13257 -1.580869 -2.129613 -2.049258 -2.377686 -1.599849  0.047078  0.218610
 11840 -0.013680  0.597285 -0.062550  0.723559 -0.230628 -1.929937 -0.640896
 444   -0.013680 -1.523636 -0.062550 -0.605546  0.225779  0.541331 -0.640896
 14702  0.508716 -0.311681 -0.062550 -0.605546 -0.230628 -1.435683  0.648363
 ...         ...       ...       ...       ...       ...       ...       ...
 12972 -0.536076 -1.220647 -0.062550 -0.605546 -1.143442 -0.941430  1.078116
 8151   0.508716  0.900274  0.434127  1.166594  0.225779  0.047078 -0.640896
 8938  -0.013680 -0.917658 -0.062550 -1.048581 -0.230628 -1.929937  1.507869
 10889 -0.013680  0.294297  0.434127  0.280524  1.138593  0.047078  0.648363
 3523  -0.536076 -0.917658 -0.062550  0.280524  1.138593  0.541331  0.648363

           x2bar     y2bar     xybar     x2ybr     xy2br     x-ege     xegvy  \
 2412  -0.605236 -0.079769 -0.112725  0.206785  0.510350  0.409507  1.074981
 13257  1.978878 -1.344692 -0.512991 -0.555117  0.029936 -0.449505 -0.215222
 11840  0.502241  2.871717 -0.512991  0.206785  3.392832 -1.308518 -0.215222
 444    0.502241 -0.501410 -0.512991  0.206785  0.029936  2.127533 -1.505425
 14702 -1.343555  0.763513  0.687808  1.349639 -0.930892 -0.879011  1.074981
 ...         ...       ...       ...       ...       ...       ...       ...
 12972 -0.605236 -1.344692 -0.112725  2.492492  0.029936 -0.449505  1.720083
 8151   0.871400  0.763513  1.088074 -0.174166  1.951591 -0.019999  1.074981
 8938  -0.605236 -1.344692  0.687808  1.349639  0.029936  1.268520  1.720083
 10889  0.133082  0.341872 -0.112725 -0.936069  0.510350  0.409507 -2.150527
 3523   0.133082 -2.187974 -0.112725 -0.174166 -0.930892  0.839014  0.429880

           y-ege     yegvx
 2412   1.283785 -0.495906
 13257 -1.434402  0.119124
 11840  1.283785 -0.495906
 444   -0.269465 -1.110936
 14702 -0.657777 -2.340996
 ...         ...       ...
 12972 -1.434402  0.119124
 8151   0.507160  0.119124
 8938  -1.046090 -0.495906
 10889  0.507160  1.349183
 3523   0.507160  0.119124

 [4000 rows x 16 columns],
 StandardScaler())

## House Votes Dataset

In [22]:
hv_columns = [
    'Class',
    'handicapped-infants',
    'water-project-cost-sharing',
    'adoption-of-the-budget-resolution',
    'physician-fee-freeze',
    'el-salvador-aid',
    'religious-groups-in-schools',
    'anti-satellite-test-ban',
    'aid-to-nicaraguan-contras',
    'mx-missile',
    'immigration',
    'synfuels-corporation-cutback',
    'education-spending',
    'superfund-right-to-sue',
    'crime',
    'duty-free-exports',
    'export-administration-act-south-africa'
]

house_votes = pd.read_csv('house-votes-84.data', header=None, names=hv_columns)

In [23]:
house_votes.head()

,Class,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [24]:
house_votes.eq('?').sum()

Class                                       0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [25]:
house_votes = house_votes.replace('?', 'unknown')

In [26]:
house_votes['target'] = (house_votes['Class'] == 'republican').astype(int)
house_votes = house_votes.drop(columns = ['Class'])

In [27]:
house_votes.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,target
0,n,y,n,y,y,y,n,n,n,y,unknown,y,y,y,n,y,1
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,unknown,1
2,unknown,y,y,unknown,y,y,n,n,n,n,y,n,y,y,n,n,0
3,n,y,y,n,unknown,y,n,n,n,n,y,n,y,n,n,y,0
4,y,y,y,n,y,y,n,n,n,n,y,unknown,y,y,y,y,0

In [28]:
X4 = house_votes.drop(columns = ['target'])
y4 = house_votes['target']
hv_cat_cols = X4.columns
house_votes = pd.get_dummies(house_votes, columns=hv_cat_cols, drop_first=True)

In [29]:
X_train_hv, X_test_hv, y_Train_hv, y_Test_hv = train_test_split(X4, y4, test_size=0.2, random_state=4, stratify=y4 )

## Heart Disease Dataset

In [30]:
hd_columns = heart_columns = [
    'age',
    'sex',
    'cp',
    'trestbps',
    'chol',
    'fbs',
    'restecg',
    'thalach',
    'exang',
    'oldpeak',
    'slope',
    'ca',
    'thal',
    'num'
]

heart_disease = pd.read_csv('processed.cleveland.data', header=None, names=hd_columns)

In [31]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [32]:
heart_disease['target'] = (heart_disease['num'] > 0).astype(int)
heart_disease = heart_disease.drop(columns = ['num'])
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [33]:
heart_disease = heart_disease[~heart_disease.isin(['?']).any(axis=1)]

In [34]:
X5 = heart_disease.drop(columns = ['target'])
y5 = heart_disease['target']

X_train_hd, X_test_hd, y_train_hd, y_test_hd = train_test_split(X5, y5, test_size=0.2, random_state=5, stratify=y5)    
heart_disease.eq('?').sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [35]:
hd_numeric_columns = X_train_hd.columns
Scalar(X_train_hd, X_test_hd, hd_numeric_columns)

(          age       sex        cp  trestbps      chol       fbs   restecg  \
 40   1.216698 -1.469694  0.888245  1.001410 -0.437480 -0.423207  1.032203
 212 -1.471949  0.680414 -0.133668 -0.106334 -0.647441 -0.423207  1.032203
 200 -0.463706 -1.469694  0.888245 -1.214078  0.116055 -0.423207  1.032203
 204 -1.247895  0.680414  0.888245 -1.214078 -0.704703 -0.423207 -0.981230
 250  0.320482  0.680414  0.888245 -1.214078 -0.895577 -0.423207 -0.981230
 ..        ...       ...       ...       ...       ...       ...       ...
 177  0.208455  0.680414  0.888245  0.004440 -1.220063 -0.423207  1.032203
 36  -1.247895  0.680414  0.888245 -0.660206 -1.353675 -0.423207  1.032203
 249  0.880617  0.680414 -1.155580 -0.217109 -0.761966  2.362908  1.032203
 18  -0.687760 -1.469694 -0.133668 -0.106334  0.516890 -0.423207 -0.981230
 189  1.664806  0.680414 -0.133668  0.447538  0.116055 -0.423207  1.032203

       thalach     exang   oldpeak     slope        ca      thal
 40  -1.602478 -0.700404 -0.005583  0.680621  2.489240  1.177914
 212  0.750495 -0.700404  0.876528  0.680621 -0.705435 -0.886157
 200  0.358333 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 204  0.445480 -0.700404 -0.887694 -0.965371 -0.705435  1.177914
 250 -1.079595  1.427747  0.435472  0.680621 -0.705435  0.661896
 ..        ...       ...       ...       ...       ...       ...
 177 -1.994640  1.427747  0.964739  0.680621  0.359457  0.661896
 36  -1.341036  1.427747  1.317583  0.680621 -0.705435  1.177914
 249 -0.469565 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 18  -0.513139 -0.700404 -0.711272 -0.965371 -0.705435 -0.886157
 189 -0.208124 -0.700404  0.876528  0.680621  2.489240  1.177914

 [237 rows x 13 columns],
           age       sex        cp  trestbps      chol       fbs   restecg  \
 273  1.888859 -1.469694  0.888245 -1.103304 -1.888122 -0.423207 -0.981230
 46  -0.351680  0.680414 -0.133668 -1.214078 -1.391850 -0.423207 -0.981230
 66   0.656563  0.680414 -0.133668  0.447538 -1.200976 -0.423207  1.032203
 252  1.104671  0.680414  0.888245 -0.217109  0.287841 -0.423207 -0.981230
 292 -1.135868  0.680414  0.888245 -0.660206 -1.506374 -0.423207 -0.981230
 155  1.776833  0.680414  0.888245 -0.106334  1.413998 -0.423207  1.032203
 154  1.104671  0.680414  0.888245 -0.660206 -0.036645 -0.423207  1.032203
 198 -0.463706 -1.469694 -1.155580 -0.660206 -0.074819 -0.423207 -0.981230
 78  -0.687760  0.680414 -1.155580 -0.106334 -0.055732 -0.423207  1.032203
 227  1.440752 -1.469694 -0.133668  1.112185  0.555065 -0.423207 -0.981230
 122 -0.351680  0.680414 -0.133668 -1.767951 -0.494742 -0.423207 -0.981230
 221 -0.015599 -1.469694 -0.133668 -1.324853  0.364191 -0.423207  1.032203
 293  0.992644  0.680414  0.888245  0.447538 -1.162801 -0.423207  1.032203
 134 -1.247895 -1.469694 -0.133668 -0.549432 -0.666529 -0.423207 -0.981230
 74  -1.135868  0.680414  0.888245 -1.214078 -0.971927 -0.423207  1.032203
 68   0.544536  0.680414  0.888245  2.109155  1.490347 -0.423207  1.032203
 45   0.432509  0.680414 -0.133668 -1.103304 -0.342043 -0.423207  1.032203
 260 -1.135868 -1.469694 -0.133668 -0.770981 -0.112994 -0.423207 -0.981230
 76   0.656563  0.680414  0.888245 -0.383270  0.192404 -0.423207  1.032203
 51   1.216698  0.680414  0.888245 -0.660206 -1.353675 -0.423207 -0.981230
 14  -0.239653  0.680414 -0.133668  2.219929 -0.933752  2.362908 -0.981230
 183  0.544536  0.680414 -2.177493  2.552252  0.421453 -0.423207  1.032203
 251  0.432509  0.680414  0.888245  0.779861 -0.571092 -0.423207 -0.981230
 102  0.320482 -1.469694  0.888245 -0.217109  1.051337 -0.423207  1.032203
 282  0.096428 -1.469694  0.888245 -0.217109 -0.819228 -0.423207  0.025486
 264  0.768590  0.680414  0.888245  0.336764 -1.563636 -0.423207  1.032203
 223 -0.127626  0.680414  0.888245 -0.494045  0.650502 -0.423207 -0.981230
 10   0.320482  0.680414  0.888245  0.447538 -1.067364 -0.423207 -0.981230
 238 -0.575733 -1.469694 -1.155580  0.115215  0.440540 -0.423207 -0.981230
 184  0.656563 -1.469694  0.888245  1.444508  1.089512 -0.423207  1.032203
 208  0.096428  0.680414 -1.155580 -0.106334  0.268754 -0.423207 -0.981230
 50  -1.471949 -1.469694 -1.155580 -1.491015 -0.952840 -0.423207 -0.981230
 181  0.208455 -1.469694  0.888245  0.115215  3.074601 -0.423207  1.032203
 120 -0.687760  0.680414  0.888245 -0.106334  0.154229  2.362908  1.032203
 143  1.104671  0.680414 -0.133668 -0.383270  1.165861 -0.423207 -0.981230
 24   0.656563  0.680414  0.888245 -0.106334 -0.800140 -0.423207  1.032203
 210 -1.920057 -1.469694 -0.133668 -0.660206 -0.628354 -0.423207 -0.981230
 218  1.104671 -1.469694  0.888245 -0.106334  1.051337 -0.423207 -0.981230
 129  0.880617 -1.469694  0.888245 -0.438657 -0.742878 -0.423207 -0.981230
 174  1.104671  0.680414  0.888245  0.724474 -0.685616 -0.423207  1.032203
 161  2.561021  0.680414  0.888245 -0.383270  1.070424 -0.423207  1.032203
 299  1.552779  0.680414  0.888245  0.669087 -1.048277  2.362908 -0.981230
 241 -1.471949 -1.469694 -1.155580 -0.327883  1.108599 -0.423207 -0.981230
 194  1.552779 -1.469694 -0.133668 -0.660206 -0.704703 -0.423207  1.032203
 4   -1.471949 -1.469694 -1.155580 -0.106334 -0.838315 -0.423207  1.032203
 148 -1.023841  0.680414 -1.155580 -0.217109  1.146774 -0.423207  1.032203
 193  0.880617 -1.469694  0.888245  0.336764  0.879550  2.362908 -0.981230
 82  -1.696003  0.680414 -0.133668  0.447538  1.394910 -0.423207  1.032203
 236  0.208455  0.680414  0.888245 -0.106334  0.669589  2.362908  1.032203
 206  0.432509  0.680414  0.888245 -0.217109  0.211492 -0.423207  1.032203
 278  0.320482  0.680414 -1.155580  1.222959 -0.303868 -0.423207  1.032203
 203  1.104671 -1.469694 -0.133668  0.447538  1.242211 -0.423207 -0.981230
 160 -0.911814  0.680414 -1.155580 -1.712563 -0.971927  2.362908 -0.981230
 197 -1.023841 -1.469694  0.888245  0.336764 -0.227519 -0.423207  1.032203
 0    0.992644  0.680414 -2.177493  0.724474 -0.284781  2.362908  1.032203
 258  1.776833  0.680414 -1.155580  1.333734 -0.055732 -0.423207  1.032203
 2    1.440752  0.680414  0.888245 -0.660206 -0.361130 -0.423207  1.032203
 73   1.216698  0.680414  0.888245 -1.214078  0.001530 -0.423207  1.032203
 13  -1.135868  0.680414 -1.155580 -0.660206  0.287841 -0.423207 -0.981230
 47  -0.463706  0.680414  0.888245  1.001410 -0.093907 -0.423207  1.032203

       thalach     exang   oldpeak     slope        ca      thal
 273 -1.123168 -0.700404  0.523683  0.680621 -0.705435 -0.886157
 46  -1.210316 -0.700404 -0.358427 -0.965371 -0.705435 -0.886157
 66   0.184039 -0.700404  1.758639  0.680621 -0.705435 -0.886157
 252 -1.994640  1.427747 -0.711272  0.680621  0.359457  1.177914
 292 -0.295271  1.427747  1.582216  2.326613 -0.705435  0.661896
 155 -1.820346 -0.700404  1.229372  0.680621  2.489240 -0.886157
 154 -2.386802  1.427747  1.052950  2.326613  0.359457 -0.886157
 198  0.489054 -0.700404  0.082628 -0.965371 -0.705435 -0.886157
 78   1.273378 -0.700404 -0.711272  0.680621 -0.705435 -0.886157
 227  0.924789 -0.700404 -0.887694 -0.965371  0.359457 -0.886157
 122 -0.338844  1.427747  0.170839  0.680621 -0.705435 -0.886157
 221  0.706921 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 293 -0.295271  1.427747  2.640749 -0.965371  1.424349  1.177914
 134  0.619774 -0.700404 -0.711272  0.680621 -0.705435 -0.886157
 74   1.142657 -0.700404 -0.887694 -0.965371  0.359457 -0.886157
 68  -0.469565  1.427747  2.111483  2.326613 -0.705435  1.177914
 45   0.619774 -0.700404  1.317583  0.680621  0.359457  1.177914
 260 -0.077403 -0.700404 -0.623061  0.680621  0.359457 -0.886157
 76  -0.425991  1.427747  1.582216  0.680621  0.359457  1.177914
 51  -0.469565 -0.700404 -0.534849 -0.965371 -0.705435  1.177914
 14   0.489054 -0.700404 -0.446638 -0.965371 -0.705435  1.177914
 183 -0.251697 -0.700404  2.817171  2.326613 -0.705435  1.177914
 251 -1.994640 -0.700404  0.876528  0.680621  0.359457  1.177914
 102  0.358333 -0.700404 -0.887694 -0.965371  0.359457 -0.886157
 282 -0.905301  1.427747  0.876528  0.680621  0.359457  1.177914
 264 -1.123168  1.427747  2.287905  0.680621  0.359457 -0.886157
 223 -2.430376  1.427747  0.876528  0.680621  1.424349  1.177914
 10  -0.120976 -0.700404 -0.534849  0.680621 -0.705435  0.661896
 238  0.489054 -0.700404 -0.887694  0.680621 -0.705435 -0.886157
 184  0.445480 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 208  0.184039 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 50   0.750495 -0.700404 -0.887694 -0.965371  0.359457 -0.886157
 181 -0.033829  1.427747  0.788317  0.680621  1.424349  1.177914
 120 -0.033829  1.427747 -0.887694 -0.965371  1.424349  1.177914
 143 -0.861727  1.427747  0.700106  0.680621 -0.705435  1.177914
 24  -0.818154  1.427747  1.229372  0.680621  1.424349  1.177914
 210  0.837642 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 218 -1.253889 -0.700404  0.876528  0.680621  1.424349 -0.886157
 129  0.532627 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 174 -0.818154 -0.700404  0.876528  0.680621  1.424349  0.661896
 161  0.489054  1.427747 -0.887694 -0.965371  2.489240 -0.886157
 299 -0.425991 -0.700404  2.111483  0.680621  1.424349  1.177914
 241  0.532627 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 194 -1.558904 -0.700404  0.435472  0.680621 -0.705435 -0.886157
 4    0.924789 -0.700404  0.347261 -0.965371 -0.705435 -0.886157
 148  0.837642 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 193 -1.951066 -0.700404  0.788317  0.680621  2.489240 -0.886157
 82   1.360525 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 236 -2.081787  1.427747  0.523683  2.326613 -0.705435  1.177914
 206 -0.905301  1.427747  1.758639  0.680621  1.424349  1.177914
 278  0.576201 -0.700404 -0.887694 -0.965371  0.359457 -0.886157
 203 -0.774580 -0.700404 -0.711272 -0.965371 -0.705435  1.177914
 160  0.227612 -0.700404 -0.887694 -0.965371 -0.705435  1.177914
 197  0.053318  1.427747 -0.711272  0.680621 -0.705435 -0.886157
 0   -0.033829 -0.700404  1.141161  2.326613 -0.705435  0.661896
 258 -0.338844 -0.700404 -0.887694 -0.965371 -0.705435 -0.886157
 2   -0.948874  1.427747  1.405794  0.680621  1.424349  1.177914
 73   0.314759 -0.700404 -0.358427 -0.965371  1.424349  0.661896
 13   0.968363 -0.700404 -0.887694 -0.965371 -0.705435  1.177914
 47  -0.992448 -0.700404  1.405794  0.680621 -0.705435  1.177914  ,
 StandardScaler())